* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', arial, sans-serif;
    overflow-x: hidden;
}

ul {
    width: 100vw;
    height: 40px;
    list-style: none;
    background-color: black;
}

li {
    float: left;
    width: 33.33%;
    line-height: 40px;
}

a {
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
}

a:hover {
    color: white;
}

.img h1 {
    margin: 115px auto auto 45px;
    font-size: 55px;
}

.img h2 {
    margin: auto auto auto 45px;
    font-size: 45px;
}

.img {
    height: 80vh;
    background-image: url("/img/photo1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

#onas {
    display: flex;
    margin: 100px;
    justify-content: center;
}

.nag {
    height: 35vh;
    width: 551px;
    background-color: gray;
    text-align: justify;
}

.nag h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}

.nag h3 {
    text-align: center;
    font-size: 20px;
}

.nag p {
    padding: 15px;
    margin-top: 15px;
    font-size: 15px;
}

.nag button {
    margin: 15px 30px;
    padding: 15px;
    border: 1px solid blue;
    text-transform: uppercase;
    color: blue;
    background-color: white;
}

.nag button:hover {
    color: white;
    background-color: blue;
}

#cennik {
    display: flex;
    margin: 100px;
    justify-content: center;
}

.nag1 {
    height: 35vh;
    width: 551px;
    background-color: gray;
}

.tło {
    height: 100%;
    width: 100%;
    background-color: rgba(77, 121, 255, 0.5);
}

.nag1 p {
    font-size: 15px;
    color: white;
    text-align: center;
}

.nag1 p:nth-of-type(odd) {
    color: black;
}

#kontakt {
    display: flex;
    margin: 100px;
    justify-content: center;
}

.adres {
    padding: 30px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    text-align: center;
}

.adres h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.adres p {
    color: blue;
}

.telefon {
    padding: 30px;
    border: 1px solid blue;
    text-align: center;
}

.telefon h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.telefon p {
    color: blue;
}

.email {
    padding: 30px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    text-align: center;
}

.email h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.email p {
    color: blue;
}